In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Movie Profitability #


## Steps In our process: ##


1. ### Import and clean our data ###
    * Movie Budget data is from https://www.the-numbers.com/movie/budgets/all
    * Market data is from https://finance.yahoo.com/quote/SPY?p=SPY&.tsrc=fin-srch  
      
2. ### Explore data with charts and graphs ###
    * Looking at summaries is a great way to get a feel for a data set.
    *

In [13]:
#below should go in .py
df=pd.read_csv('./zippedData/tn.movie_budgets.csv.gz',error_bad_lines=False)
df.rename(columns={"movie":"title"}, inplace=True)
df.production_budget=df.production_budget.apply(lambda x: x.strip('$'))
df.production_budget=df.production_budget.replace({",":''}, regex=True).apply(pd.to_numeric)
df.domestic_gross=df.domestic_gross.apply(lambda x: x.strip('$'))
df.domestic_gross=df.domestic_gross.replace({",":''}, regex=True).apply(pd.to_numeric)
df.worldwide_gross=df.worldwide_gross.apply(lambda x: x.strip('$'))
df.worldwide_gross=df.worldwide_gross.replace({",":''}, regex=True).apply(pd.to_numeric)

df['domestic_profit']=df.domestic_gross-df.production_budget
df['worldwide_profit']=df.worldwide_gross-df.production_budget
df.release_date=pd.to_datetime(df.release_date)
df['release_year'] = df['release_date'].dt.to_period('Y')



bydates=df.sort_values(by = 'release_date')
low_cutoff=pd.to_datetime('1990')
high_cutoff=pd.to_datetime('06/06/2019')
bydate=bydates.loc[(bydates.release_date >low_cutoff)&(bydates.release_date<high_cutoff)]

df2=bydate.groupby('release_year').mean().reset_index()
tn_movie_budgets=df

Below is a printout of the first ten entries in the database.  
Change the variable below to show the top ten movies in the data sorted by different columns

In [15]:
column_to_sort_by='production_budget' # Change this to any column name to sort by that column

tn_movie_budgets.sort_values(by=[column_to_sort_by], ascending=False).head(10)

,id,release_date,title,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit,release_year
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,2009
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,-169536125,635063875,2011
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350,-307237650,-200237650,2019
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,128405868,1072413963,2015
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,303181382,999721747,2017
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,630662225,1747311220,2015
6,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200,2018
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,300000000,309420425,963420425,9420425,663420425,2007
8,9,2017-11-17,Justice League,300000000,229024295,655945209,-70975705,355945209,2017
9,10,2015-11-06,Spectre,300000000,200074175,879620923,-99925825,579620923,2015

Below we have a chart that shows us the summary statistics of each of the numeric data columns

In [16]:
tn_movie_budgets.describe()

,id,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit
count,5782.000000,5.782000e+03,5.782000e+03,5.782000e+03,5.782000e+03,5.782000e+03
mean,50.372363,3.158776e+07,4.187333e+07,9.148746e+07,1.028557e+07,5.989970e+07
std,28.821076,4.181208e+07,6.824060e+07,1.747200e+08,4.992137e+07,1.460889e+08
min,1.000000,1.100000e+03,0.000000e+00,0.000000e+00,-3.072376e+08,-2.002376e+08
25%,25.000000,5.000000e+06,1.429534e+06,4.125415e+06,-9.132757e+06,-2.189071e+06
50%,50.000000,1.700000e+07,1.722594e+07,2.798445e+07,-3.487755e+05,8.550286e+06
75%,75.000000,4.000000e+07,5.234866e+07,9.764584e+07,1.778144e+07,6.096850e+07
max,100.000000,4.250000e+08,9.366622e+08,2.776345e+09,6.306622e+08,2.351345e+09